html {
    font-family: 'Gill Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}

.note {
    color: red;
}
body {
    font-family: 'Heebo', sans-serif;
    font-size: 19px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
img {
    float: left;
    left: 70px;
  }
h1 {
    font-size: 13px;
    text-align: center;
      }
h2 {
    font-size: 20px;
    text-align: center;
      }
h3 {
    font-size: 13px;
    text-align: center;
      }
h4 {
    letter-spacing: 15px;
}
th {
    text-align: left;
    background-color: rgb(157, 165, 238);
    word-spacing: 2px;
}
table {
    border-spacing: 1px;
}
td {
    text-align: left;
    word-spacing: 7px;
}
p {
    color: red;
    text-align: left;
}

